.board-container{
    display: flex;
    justify-content: center;
    column-gap: 2rem;
    width:80%;
    border-radius: 10px;
    margin: auto;
    padding: 4rem;
    position: relative;
}

@media (max-width: 800px) {
    .board-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:40%;
        padding: 1rem;
        position: relative;
    }
    
  }



