.game-container{
    display: flex;
    align-items: center;
    column-gap: 1rem;
    height: 200px;
    width: 300px;
}

.game-score{
    width: 25%;
    height: 30%;
    background-color: var(--color3);
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px var(--color1) ;
    font-size: 2rem;
    text-align: center;
    padding-top: 0.7rem;
    color: var(--color2);

}



.result{
    width: 50%;
    text-align: center;
    
}

.result p{
    text-transform: capitalize;
    font-weight: 600;
    color: var(--color2);
}

.game-over{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 3rem;
    top: 0;
    left: 25%;
    width: 50%;
    height: 100%;
    background: #232628de;
    border-radius: 10px;
    z-index: 10;

    opacity: 0; /* Start as hidden */
    transform: translateY(-100%); /* Start off-screen */
    transition: opacity 0.5s ease, transform 0.5s ease; 
    
}

.game-over-active {
    opacity: 1; /* Make visible */
    transform: translateY(0); /* Move to position */
}

.game-over p:first-child{
    font-size: 3rem;
    color: var(--color2);
}

.game-over p:nth-child(2){
    font-size: 2rem;
    color: var(--color3);
    text-transform: capitalize;
}

.game-over button{
    font-size: 1rem;
    font-weight: 600;
    color: var(--color2);
    padding: 0.8rem;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px var(--color3) ;
    background-color: transparent;
    text-transform: capitalize;
    cursor: pointer;
    transition: all 0.5s ease;
}

.game-over button:hover{
    box-shadow: 0px 0px 5px 0px var(--color2);
    color: var(--color3);   
}


@media (max-width: 970px) {
    .game-score{
        height: 25%;
        font-size: 1.4rem;
        padding-top: 0.8rem;
        
    
    }
    
}

@media (max-width: 850px) {
    .game-container{
        height: 200px;
        width: 300px;
    }
    .game-score{
        width: 40%;
        height: 20%;
        font-size: 1rem;
        padding-top: 0.7rem;
        font-weight: 600;
    }

    .result p{
        font-size: 0.9rem;
    }
    
}

@media (max-width: 800px) {
    .game-container{
        column-gap: 0.2rem;
        height: 150px;
        width: 150px;
    }
    .game-score{
        width: 40%;
        height: 20%;
        padding-top: 0.4rem;
    }

    .result p{
        font-size: 0.8rem;
    }
    
}



/* game-over */

@media (max-width: 970px) {
    .game-over p:first-child{
        font-size: 2.5rem;
    }

    .game-over p:nth-child(2){
        font-size: 1.5rem;
    }

    .game-over button{
        font-size: 0.9rem;
    }
    
}

@media (max-width: 800px) {
    .game-over{
        top: 20%;
        left: 0;
        width: 100%;
        height: 50%;
    }

    .game-over p:first-child{
        font-size: 1.5rem;
    }

    .game-over p:nth-child(2){
        font-size: 1rem;
    }

    .game-over button{
        font-size: 0.8rem;
    }
}

