.header-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 2rem;
    margin: 3rem 0;
}

.header-container h1,ul{
    color: var(--color1);
    list-style-type: none;
}

@media (max-width: 970px) {
    .header-container{
        font-size: 0.9rem;
    }
    
}

@media (max-width: 750px) {
    .header-container{
        font-size: 0.7rem;
    }
    
}


@media (max-width: 600px) {
    .header-container ul{
        display: none;
    }
    
}
